<a-emotion-pictures namespace="emotion-pictures-with-logo-" height-mobile="15em">
    <a-picture picture-load defaultSource="../../../../../src/img/emotion-pictures/image1.jpg" alt="randomized image">
    </a-picture>
</a-emotion-pictures>

<div>
    <h1>Titel H1</h1>
    <h2>Titel H2</h2>
    <h3>Titel H3</h3>
    <h4>Titel H4</h4>
    <h5>Titel H5</h5>
    <h6>Titel H6</h6>


    <p>Das Restaurant the flow ist der zentrale Treffpunkt bei der bekannten Welle, unmittelbar beim Bahnhof Bern. Das
        Team begrüsst Sie gerne auf Deck 03 in der Welle7. In der offenen Showküche komponiert der Küchenchef kreative
        Gerichte für Genussmenschen und verbindet Tradition mit Innovation. </p>
    <p>Das the flow ist der ideale Standort in Bern für Bankette, Meetings, Apéros, Geschäftsessen wie auch private
        Feiern. Das Restaurant bietet 120 Plätze und im Bankettbereich können bis zu 300 Personen herzlich bedient
        werden.</p>
    <a href="Mittagskarte">Mittagskarte</a>
    <a href="Abendkarte">Abendkarte</a>
    <a href="Mittagskarte">Mittagskarte</a>
</div>

<div class=spacer-one></div>
<o-wrapper namespace="wrapper-teaser-">
    <m-teaser namespace="teaser-tile-" href="/news/#parks" target="">
        <figure>
            <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                defaultsource="https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938365587930000"
                sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'extra-large','type':'image/webp'}]"
                alt="News KBZ 400X270px" picture-load>
            </a-picture>
            <figcaption>
                <h5>Firmenevents</h5>
                <p>Planen Sie Ihre Firmenfeier frühzeitig! Der multifunktionale Eventraum im Welle7 Workspace eignet
                    sich ideal für Ihre Mitarbeiteressen, Kundenevent oder Seminar. Dazu verwöhnt Sie das the flow Team
                    mit abwechslungsreichen Speisen und Getränken.</p>
                <a-link namespace="underline-">
                    <a> Eventraum </a>
                </a-link>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace="teaser-tile-" href="/news/#the-valley" target="">
        <figure>

            <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                defaultsource="https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938361751130000"
                sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361751130000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361751130000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361751130000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361751130000','size':'extra-large','type':'image/webp'}]"
                alt="Huber Und Suhner" picture-load>
            </a-picture>
            <figcaption>
                <h5>Mittagsmenu</h5>
                <p>In der offenen Showküche komponiert unser Küchenchef und sein Team kreative Gerichte für
                    Genussmenschen und verbindet Tradition mit Innovation. Mittags gibt es unsere Tagesmenüs und Poke
                    Bowls auch zum Mitnehmen!.</p>
                <a-link namespace="underline-">
                    <a> Mittagsmenu </a>
                </a-link>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace="teaser-tile-" href="/news/#huber-suhner" target="">
        <figure>
            <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                defaultsource="https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938361728370000"
                sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361728370000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361728370000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361728370000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361728370000','size':'extra-large','type':'image/webp'}]"
                alt="The Vally Beitrag" picture-load>
            </a-picture>
            <figcaption>
                <h5>Restaurant für Businesslunch</h5>
                <p>Das Restaurant the flow bietet täglich wechselnde Mittagsmenüs. Zwischen Daheim und Arbeitsplatz,
                    zwischen Anbieter und Gästen,
                    zwischen Genf und Zürich, zwischen Eisenbahn und Zentrum – direkt beim Hauptbahnhof Bern im
                    PostParc.</p>
                <a-link namespace="underline-">
                    <a> Zum Angebot </a>
                </a-link>
            </figcaption>
        </figure>
    </m-teaser>
</o-wrapper>

















<hr>
<ul>
    <li><a href="#Erweiterung" data-anchor="#Erweiterung">Erweiterung</a></li>
    <li><a href="#termine" data-anchor="#termine">Termine</a></li>
    <li><a href="#daten-und-fakten" data-anchor="#daten-und-fakten">Daten und Fakten zum bestehenden Verteilzentrum
            Schönbühl Zahlen</a></li>
    <li><a href="#erweiterung-oder-neubau" data-anchor="#erweiterung-oder-neubau">Optionen: Erweiterung oder Neubau?</a>
    </li>
</ul>

<o-wrapper namespace="wrapper-teaser-" simulate-children="1" tabindex="0">
    <h2 class="title-border">Was Sie erwartet</h2>
    <div>
        <ul>
            <li><a href="#Erweiterung" data-anchor="#Erweiterung">Erweiterung</a></li>
            <li><a href="#termine" data-anchor="#termine">Termine</a></li>
            <li><a href="#daten-und-fakten" data-anchor="#daten-und-fakten">Daten und Fakten zum bestehenden
                    Verteilzentrum Schönbühl Zahlen</a></li>
            <li><a href="#erweiterung-oder-neubau" data-anchor="#erweiterung-oder-neubau">Optionen: Erweiterung oder
                    Neubau?</a></li>
        </ul>
    </div>
</o-wrapper>
<hr>
<ul class="bull">
    <li><a href=#Thourgh>Neue Gastgeber im Restaurant «park’s»</a></li>
    <li><a href=#testAnchor>Migros Ostschweiz bleibt Gastronomie-Partnerin der HSG</a></li>
    <li><a href=#Thourgh>Migros Ostschweiz kocht bald für HUBER+SUHNER</a></li>
    <li><a href=#testAnchor>Migros Zürich verpflegt Lufthansa Aviation Training</a></li>
</ul>
<ul class="line">
    <li><a href=#Thourgh>Neue Gastgeber im Restaurant «park’s»</a></li>
    <li><a href=#testAnchor>Migros Ostschweiz bleibt Gastronomie-Partnerin der HSG</a></li>
    <li><a href=#Thourgh>Migros Ostschweiz kocht bald für HUBER+SUHNER</a></li>
    <li><a href=#testAnchor>Migros Zürich verpflegt Lufthansa Aviation Training</a></li>
</ul>
<div class="spacer"></div>
<div>
    <h6 class="title-border">Die Catering Services der Migros</h6>
    <p>Wir sind Ihre Experten für die schönsten Momente im Arbeits- und Lernalltag: die Pausen.</p>
    <p>Vom ausgewogenen Lunch, über den Snack bis zum Apéro setzen wir alles daran, Sie mit gesunden und feinen
        Kreationen und Produkten zu verpflegen. Ob Automatenbewirtschaftung, Mahlzeitenlieferung oder umfassende
        Betriebsführung; ob Unternehmen, Schule, Hochschule oder Universität – unsere Fachleute freuen sich, mit Ihnen
        eine Lösung zu entwickeln, massgeschneidert auf Ihre Bedürfnisse.</p>
    <a href="bahh">Test Link</a> &nbsp;
    <a-button namespace="button-primary-">Button Primary</a-button> &nbsp;
    <a-button namespace="button-secondary-">Button Secondary</a-button>
    <hr />
</div>
<o-body-style>
    <h2 class="title-border">Aktuelle News</h2>
    <o-wrapper namespace="wrapper-teaser-">
        <m-teaser namespace="teaser-tile-" href="/news/#parks" target="">
            <figure>
                <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                    defaultsource="https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938365587930000"
                    sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'extra-large','type':'image/webp'}]"
                    alt="News KBZ 400X270px" picture-load>
                </a-picture>
                <figcaption>
                    <h5>Neue Gastgeber im Restaurant «park’s»</h5>
                    <p>Die Mensa im Kaufmännischen Berufs- und Weiterbildungszentrum St.Gallen (KBZ) präsentiert sich in
                        frischem Anstrich.</p>
                    <a-link namespace="underline-">
                        <a> Mehr erfahren </a>
                    </a-link>
                </figcaption>
            </figure>
        </m-teaser>
        <m-teaser namespace="teaser-tile-" href="/news/#the-valley" target="">
            <figure>
                <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                    defaultsource="https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938361728370000"
                    sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361728370000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361728370000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361728370000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361728370000','size':'extra-large','type':'image/webp'}]"
                    alt="The Vally Beitrag" picture-load>
                </a-picture>
                <figcaption>
                    <h5>Mietvertrag für Restaurant "The Valley" unterzeichnet</h5>
                    <p>Die Gemeinschaftsgastronomie der Migros wird ab 2019 die Verpflegung der Mitarbeitenden im The
                        Valley, dem ehemaligen Maggi-Areal in Kemptthal, übernehmen.</p>
                    <a-link namespace="underline-">
                        <a> Mehr erfahren </a>
                    </a-link>
                </figcaption>
            </figure>
        </m-teaser>
        <m-teaser namespace="teaser-tile-" href="/news/#huber-suhner" target="">
            <figure>
                <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                    defaultsource="https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938361751130000"
                    sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361751130000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361751130000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361751130000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361751130000','size':'extra-large','type':'image/webp'}]"
                    alt="Huber Und Suhner" picture-load>
                </a-picture>
                <figcaption>
                    <h5>Migros Ostschweiz kocht bald für HUBER+SUHNER</h5>
                    <p>Ab Januar 2019 nimmt die Gemeinschaftsgastronomie der Migros den Betrieb des Personalrestaurants
                        von HUBER+SUHNER in Herisau auf.</p>
                    <a-link namespace="underline-">
                        <a> Mehr erfahren </a>
                    </a-link>
                </figcaption>
            </figure>
        </m-teaser>
    </o-wrapper>
</o-body-style>