/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */

/* font tracking */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=93986a71-63c8-4365-aa0f-1febdf005b50");

/* HelveticaNowText Font */
@font-face {
  font-family: "HelveticaNowText";
  src: url(https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Regular.woff2)
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* HelveticaNowTextBold Font */
@font-face {
  font-family: "HelveticaNowTextBold";
  src: url(https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Bold.woff2)
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color: #000000;
  --color-secondary: #0354a3;
  --color-tertiary: #ffffff;

  --background-color: var(--m-white, #ffffff);

  --color-active: #444444;
  --accent-color: #792a52;
  --color-disabled: var(--m-black, #000000);
  --color-hover: var(--accent-color);

  /* We will need these color below for navigation */
  --curse-custom-color: #66e2e0;
  --memberships-custom-color: #0354a3;
  --open-class-custom-color: #792a52;
  --children-custom-color: #137d71;
  --events-custom-color: #83b69f;
  --event-location-custom-color: #b1bdc5;

  /*Identical Part from TheFlow*/
  --content-width: 69%;
  --cover-img-height: 70vh;
  --cover-img-min-width: 100%;
  --carousel-two-thumbnail-background-color: #ffffff;
  --details-default-icon-right-font-weight-strong: 500;
  --details-default-a-color: var(--color-active);
  --emotion-pictures-default-img-max-height: 58vh;
  --emotion-pictures-with-button-img-max-height: var(
    --emotion-pictures-default-img-max-height
  );
  --emotion-pictures-with-logo-img-max-height: var(
    --emotion-pictures-default-img-max-height
  );
  --emotion-pictures-with-title-bg-background-color-custom: var(--m-white);
  --emotion-pictures-with-title-bg-color-custom: var(--m-black);
  --emotion-pictures-with-title-img-max-height: var(
    --emotion-pictures-default-img-max-height
  );
  --font-family: "HelveticaNowText";
  --font-family-bold: "HelveticaNowTextBold";
  --font-family-secondary: var(--font-family);
  --footer-default-a-color: var(--color);
  --footer-default-footer-margin: 3% auto auto auto;
  --footer-default-a-text-decoration: none;
  --footer-default-a-text-decoration-hover: underline;
  --footer-default-a-text-underline-offset: 0.3em;
  --footer-default-content-width: 66%;
  --footer-default-h4-color: #ffffff;
  --footer-default-invert-a-color-hover-custom: var(--color-active);
  --footer-default-invert-background-color-custom: #1c1c1c;
  --footer-default-invert-svg-color-custom: #ffffff;
  --grid-2colums2rows-a-text-decoration: none;
  --h-color: #444;
  --h1-text-transform: uppercase;
  --h5-font-size: 1em;
  --h6-font-size: 0.8em;
  --h6-font-weight: 600;
  --header-default-a-logo-top-custom: calc(62px / 2 - 90px / 2);
  --header-default-a-logo-top-mobile-custom: calc(69px / 2 - 25.5px / 2);
  --header-default-a-menu-icon-background-color-custom: var(--color);
  --header-default-background-color-custom: #ffffff;
  --header-default-border-bottom-custom: 1px solid var(--m-gray-300);
  --header-default-content-width: max(
    calc(1200px - var(--content-spacing) * 2),
    85%
  );
  --header-default-logo-width-custom: min(8rem, 190px);
  --header-default-margin-custom: 0;
  --header-default-margin-mobile-custom: 0;
  --header-default-padding: 1rem 0 1rem 1%;
  --header-default-width: 100%;
  --header-default-padding-mobile: 0;
  --header-default-justify-content-custom: center;
  --header-default-content-spacing: auto -7% auto auto;
  --hotspot-width: 22rem;
  --img-height-mobile: 20em;
  --language-switcher-default-content-width: var(
    --header-default-content-width
  );
  --logo-default-margin: 0;
  --logo-default-width-mobile-custom: min(5rem, 190px);
  --navigation-default-a-link-text-transform-custom: uppercase;
  --navigation-default-color-custom: var(--color);
  --navigation-default-margin: 3%;
  --scale-up-img-width: 30%;
  --scale-up-img-width-mobile: 80%;
  --scale-up-img-margin-mobile: -3% auto auto auto;
  --scale-up-img-margin: 7% auto auto auto;
  --teaser-tile-box-shadow: 0 0 50px rgba(169, 169, 169, 0.5);
  --teaser-tile-figcaption-margin: 3em 0em 0em 0em;
  --teaser-tile-figcaption-bg-color-equal-padding-custom: 0.5em 1em;
  --teaser-tile-p-font-size: 1.3em;
  --teaser-tile-p-line-height-custom: 1.5em;
  --underline-color: var(--h-color);
  --underline-color-hover: var(--color-active);
  --underline-color-hover-custom: var(--color-active);
  --underline-font-weight: 600;
  --picture-text-default-h-color: var(--m-white);
  --picture-text-default-content-wrapper-background-custom: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0) 0,
    rgba(61, 61, 61, 0.3) 3%,
    rgba(61, 61, 61, 0.5) 4%,
    rgba(61, 61, 61, 0.6) 5%,
    rgba(14, 14, 14, 0.65) 16%,
    rgba(14, 14, 14, 0.8) 20%,
    rgba(14, 14, 14, 0.8) 100%
  );
}
